<h1>Events You Created</h1>
<div class="container">
  <% if @created_events.empty? %>
    <%= link_to 'Create a new event', new_event_path, class: "event-container"%>
  <% end %>
  <% @created_events.each do |event| %>
    <%= render event %>
  <% end %>
</div>

<h1>Upcoming Events</h1>
<div class="container">
  <% if @attended_events.empty? %>
    <%= link_to 'View existing events', events_path, class: "event-container" %>
  <% end %>
<% @attended_events.upcoming.each do |event| %>
    <%= render event %>
<% end %>
</div>

<h1>Past Events</h1>
<div class="container">
<% @attended_events.past.each do |event| %>
    <%= render event %>
<% end %>
</div>
