<p> *Private events can be viewed on your events page </p>

<h1>Upcoming Public Events</h1>
<div class="container">
  <% if @events.upcoming.empty? %>
    <%= link_to 'Create a new event', new_event_path, class: "event-container"%>
  <% end %>
  <% @events.upcoming.each do |event| %>
    <% unless event.private_event %>
      <%= link_to event, class: "event-container" do %>
        <%= render event %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>Past Public Events</h1>
<div class="container">
  <% @events.past.each do |event| %>
    <% unless event.private_event %>
      <%= link_to event, class: "event-container" do %>
        <%= render event %>
      <% end %>
    <% end %>
  <% end %>
</div>
