<h1>Upcoming Events</h1>
<div class="container">
  <% @events.upcoming.each do |event| %>
    <% if event.private_event %>
      <%= render "private", event: event %>
    <% else %>
      <%= link_to event, class: "event-container" do %>
        <%= render event %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1>Past Events</h1>
<div class="container">
  <% @events.past.each do |event| %>
    <% if event.private_event %>
      <%= render "private", event: event %>
    <% else %>
      <%= link_to event, class: "event-container" do %>
        <%= render event %>
      <% end %>
    <% end %>
  <% end %>
</div>
