<div>
  <%= render "event", event: @event %>

  <% if user_signed_in? %>
    <% if @attendance.nil? %>
      <%= button_to "Going", attendances_path, params: {
        'attendance[attended_event_id]': @event.id,
        'attendance[attendee_id]': current_user.id
      } %>
    <% else %>
      <%= button_to "Not Going", attendance_path(@attendance), method: :delete %>
    <% end %>

    <% if current_user.id == @event.creator_id %>
      <%= button_to "Edit Event", edit_event_path, method: :get %>
      <%= button_to "Delete Event", event_path(@event), method: :delete %>
    <% end %>
  <% else %>
    <%= button_to "Log in to join this event", new_user_session_path, method: :get %>
  <% end %>

  <%= button_to "Back to Events", events_path, method: :get %>

  <h2>Attendees</h2>
  <%  @event.attendances.each do |attendee| %>
    <p><%= attendee.attendee.username %><p>
  <% end %>
</div>
